<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
   <p>
    {{ msg }}
  </p>
  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" value={{ buggy['qty_wheels'] }} />
	<br>
	<label for="flag_color">Colour of flag:</label>
    <input type="text" name="flag_color" value={{buggy['flag_color'] }} />
    <br>
	<label for="flag_pattern">Flag pattern:</label>
    <select name="flag_pattern" value={{buggy['flag_pattern'] }}>
	<option>plain</option>
	<option>vstripe</option>
	<option>hstripe</option>
	<option>dstripe</option>
	<option>checker</option>
	<option>spot</option>
	</select>
	<br>
	<br>
	<label for="power_type">Primary motive power:</label>
    <select name="power_type">
	<option>petrol</option>
	<option>fusion</option>
	<option>steam</option>
	<option>electric</option>
	<option>rocket</option>
	<option>hamster</option>
	</select>
	<br>
	
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
